body,html,.swiper-container,.my-form {
    width: 100%;
    height: 100%;
}
img{
    width: 100%;
    height: 100%;
}
.animated {
-webkit-animation-duration: 1s;
animation-duration: 1s;
-webkit-animation-fill-mode: both;
animation-fill-mode: both;
}
.imgBx{
    position: absolute;
}
.swiper-slide{
    background-color: #fffdf8;
}
.slide1{
    /* background: url(../images/bg1.jpg) no-repeat;
    background-size: 100% 100%; */
}
.slide2{
    background: url(../images/bg.jpg) no-repeat;
    background-size: 100% 100%;
}
.slide3{
    background: url(../images/history.jpg) no-repeat left bottom #fffdf8;
    background-size: 10rem 3.5625rem;
}
.slide4{
    background: url(../images/wish.jpg) no-repeat;
    background-size: 100% 100%;
}
.slide5,.slide6,.slide7,.slide8{
    background: url(../images/bg3.jpg) no-repeat;
    background-size: 100% 100%;
}
.word{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 100;
}
.p1Btm{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 18.1719rem;
    height: 4.7813rem;
    z-index: 10;
    transform: translate3d(0,0,0);
}

.p2-bg{
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 100;
}
.p2_03{
    width: 2.2031rem;
    height: 2.2031rem;
    left: 4.2188rem;
    top: 6.55rem;
}
.p1_01,.p2_01{
    left: 3.75rem;
    top: 6.95rem;
    width: 3.4375rem;
    height: 2.875rem;
    z-index: 200;
}
.p1_02{
    left: 3.75rem;
    top: 10.3rem;
    width: 2.6875rem;
    height: .3906rem;
    z-index: 200;
    opacity: 0;
}
.p1_03{
    left: 4.2969rem;
    top: 5.5rem;
    width: 2.2031rem;
    height: 2.2031rem;
    z-index: 1;
}

.p2_01{
    left: 3.5938rem;
    top:3.6rem;
}
.p2_02{
    left: 6.1375rem;
    top: 4.3875rem;
    width: .9719rem;
    height: 1.2688rem;
    opacity: 0;
    animation-fill-mode: forwards;
    z-index: 200
}
.txt1{
    left: 5.5438rem;
    top:6.875rem;
    width: .4531rem;
    height: 3.3594rem;
    opacity: 0;
    z-index: 80;
}
.txt2{
    left: 4.85rem;
    top:6.875rem;
    width: .4531rem;
    height: 5.1875rem;
    opacity: 0;
    z-index: 80;
}

.txt3{
    left: 4.0938rem;
    top:7.9063rem;
    width: .3125rem;
    height: 4.2031rem;
    opacity: 0;
    z-index: 80;
}
.wish{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
    opacity: 0;
}
.wishBtn{
    position: absolute;
    width: 4.6875rem;
    height: 1.5625rem;
    left: 2.6563rem;
    top: 12.3281rem;
    z-index: 50;
    text-indent: -999em;
}

.card{
    position: absolute;
    width: 9.625rem;
    height: 11.5938rem;
    left: .1563rem;
    top: 1.2813rem;
    box-shadow: 0px 0px 15px 1px #999;
}
.currentNo{
    text-align: center;
}
.tmplBtn,.uploadBtn,.goBackBtn,.sureBtn,.backBtn,.seeOthersBtn,.shareBtn,.rebuildBtn{
    position: absolute;
    bottom: 0.5rem;
    width: 2.6375rem;
    height: .8219rem;
    line-height: 0.8219rem;
    background: linear-gradient( to right, rgba(189,168,108,1),rgba(151,126,67,1)); /* 标准的语法 */
    text-align: center;
    color: #fff;
    letter-spacing: 3px;
}
.shareBtn,.rebuildBtn{
    display: none;
}
.seeOthersBtn{
    left: 0.5rem;
}
.uploadBtn,.shareBtn{
    right: 0.5rem;
}
.tmplBtn,.rebuildBtn{
    left: 3.7rem;
}
.sureBtn{
    left: 1.2063rem;
}
.backBtn{
    right: 1.2063rem;
}
.goBackBtn{
    left:50%;
    transform: translate(-50%,0);
}

.picWrap{
    position: relative;
    width: 100%;
    height: 12.6563rem;
    box-sizing: border-box;
    padding: .4688rem;
}
.picBx{
    width: 8.5938rem;
    height:13.0313rem; 
    overflow-y: auto;
    box-sizing: border-box;
    padding:0 .2344rem;
    margin: .4688rem auto 0; 
}
.picList{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    transform: translate3d(0,0,0);
    transition-timing-function: cubic-bezier(0.1, 0.57, 0.1, 1); 
    transition-duration:1s;
}
.picList .item{
    width: 3.75rem;
    height: 3.875rem;
    margin: .2344rem 0;
    box-shadow: 0px 0px 15px 0px #ccc;
}
.zoomImg-layer img{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 9.625rem;
    height: auto;
    transform: translate(-50%,-50%)
}
.scrollBar{
    position: absolute;
    right: .6688rem;
    top: .4688rem;
    width: .3125rem;
    height: 100%;
    border-radius: .1563rem;
    background-color:#b5b2aa;
}
.scrollBtn{
    position: absolute;
    right: -.11781rem;
    top: 0;
    width: .5469rem;
    height: .5469rem;
    border-radius: .3031rem;
    background-color: #FFF;
    box-shadow: 0 0 10px 0 #b5b2aa;
}

.modal-layer,.error-layer,.share-layer{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    z-index: 2001;
}

.tmpl-layer,.moreWish-layer{
    background: url(../images/bg3.jpg) no-repeat;
    background-size: 100% 100%;
}
.share-layer{
    background-image: url(../images/share_tip.png);
    background-size: 100% 100%;
}
.error-layer{
    z-index: 3000;
}
.error-layer .msg{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 50%;
    height: auto;
    padding: .1563rem 0;
    border-radius: 10px;
    background-color: #fff;
    color:#333;
    z-index: 10000;
    text-align: center;
}
.layer-wrap{
    position: relative;
    width: 9.625rem;
    height: 11.5938rem;
    padding:.2656rem;
    background-color: #fff;
    left: .1563rem;
    top: .7813rem;
    box-sizing: border-box;
}
.img-container{
    width: 9.0156rem;
    height: 7.875rem;
    margin: 0 auto;
}
.txt-container{
    width: 100%;
    height: 2.5rem;
    background: url(../images/txtBg.png) no-repeat right bottom;
    background-size: 3.7188rem 2.3438rem;
    margin-top: .625rem;
}
.user-input{
    width: 7.2313rem;
    height: 2.0313rem;
    padding: .1563rem;
    box-sizing: border-box;
    resize: none;
    outline: none;
    letter-spacing: 2px;
}

.myImg{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    opacity: 0;
}


.book {
    position: absolute;
    top: 1.25rem;
    left: 0;
    width: 100%;
    height: 10.9063rem;
    background-color: #fffdf8;
}
/*开3D效果*/
.pre-3d {                
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    -webkit-transform-origin: 0 50%;
    -moz-transform-origin: 0 50%;
    -ms-transform-origin: 0 50%;
    -o-transform-origin: 0 50%;
    transform-origin: 0 50%;
    z-index: 100;
}
.backPage{
    /* z-index: 10; */
    /* background: url(../images/h4.jpg) no-repeat;
    background-size: 100% 100%; */
}
@keyframes turnPage{
    0%{
        -webkit-transform: rotateY(0deg);
        -ms-transform: rotateY(0deg);
        -o-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }
    100%{
        -webkit-transform: rotateY(-140deg);
        -ms-transform: rotateY(-140deg);
        -o-transform: rotateY(-140deg);
        transform: rotateY(-140deg);
    }
}
.turnPage{
    animation:turnPage 2s ease-in-out 0s forwards;
}
.page1{
    animation:turnPage 2s ease-in-out 0s forwards;
}
.page2{
    animation:turnPage 2s ease-in-out 2s forwards;
}
.page3{
    animation:turnPage 2s ease-in-out 4s forwards;
}
.page4{
    animation:turnPage 2s ease-in-out 6s forwards;
}

.front1 {
    background-color: paleturquoise;
}
.front2 {
    background-color: goldenrod;
} 


@-webkit-keyframes zoomIn {
    0% {
      opacity: 0;
      -webkit-transform: scale3d(.8, .8, .8);
      transform: scale3d(.8, .8, .8);
    }
  
    100% {
      opacity: 1;
    }
  }
  
  @keyframes zoomIn {
    0% {
      opacity: 0;
      -webkit-transform: scale3d(.8, .8, .8);
      transform: scale3d(.8, .8, .8);
    }
  
    100% {
      opacity: 1;
    }
  }
  
  .zoomIn {
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
  }

  @-webkit-keyframes fadeIn {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }
  
  .fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    /* animation-fill-mode: forwards; */
  }
  
  .loading{
      display: none;
      position: fixed;
      left: 0;
      top:0;
      width: 100%;
      height: 100%;
      z-index: 200000;
      background: rgba(0,0,0,0.7);
  }
  .loading-inner{
    position: fixed;
    left: 50%;
    top:50%;
    width: 2rem;
    height: 2rem;
    transform: translate(-50%,-50%);
  }
  .musicButton{
    width: 0.984375rem;
    height:0.78125rem;
    background-image:url('../images/sound-on.png');
    background-size:100% 100%;
    position:fixed;
    top:0.3125rem;
    right:0.3125rem;
    z-index: 99999;
}
.hand{
    position:fixed;
    width:1.5625rem;
    height: 1.25rem;
    left:50%;
    bottom:.1563rem;
    margin-left: -0.78rem;
    background-image: url('../images/zhi.png');
    background-size: 100% 100%;
    opacity:0;
    z-index:10000;
  }
.handLeft{
    left: 90%;
    bottom: 50%;
    margin-bottom: -0.65rem;
    background-image: url('../images/zhi2.png');
}
  @keyframes handUpOut{
    0% {
      -webkit-transform:translate3d(0,0,0);
      transform:translate3d(0,0,0);
      opacity:1;
    }
    100% {
      -webkit-transform:translate3d(0,-150%,0);
      transform:translate3d(0,-150%,0);
      opacity:0;
    }
  }
  @-webkit-keyframes handUpOut{
    0% {
      -webkit-transform:translate3d(0,0,0);
      transform:translate3d(0,0,0);
      opacity:1;
    }
    100% {
      -webkit-transform:translate3d(0,-150%,0);
      transform:translate3d(0,-150%,0);
      opacity:0;
    }
  }
  .handUpOut{
    animation: handUpOut 2.5s ease-out 1s infinite;
  }
  @keyframes handLeftOut{
    0% {
      -webkit-transform:translate3d(0,0,0);
      transform:translate3d(0,0,0);
      opacity:1;
    }
    100% {
      -webkit-transform:translate3d(-150%,0,0);
      transform:translate3d(-150%,0,0);
      opacity:0;
    }
  }
  @-webkit-keyframes handLeftOut{
    0% {
      -webkit-transform:translate3d(0,0,0);
      transform:translate3d(0,0,0);
      opacity:1;
    }
    100% {
      -webkit-transform:translate3d(-150%,0,0);
      transform:translate3d(-150%,0,0);
      opacity:0;
    }
  }
  .handLeftOut{
    animation: handLeftOut 2.5s ease-out 1s infinite;
  }